# Exercícios - Capítulo Dominando o Python

1) Imprima a frase "Eu sou Minerador de Dados!"

In [1]:
print('Eu sou Minerador de Dados!')

Eu sou Minerador de Dados!

2) Faça operações matemáticas de soma, subtração, multiplicação e divisão.

In [4]:
n1 = 10
n2 = 5

soma = n1 + n2
subtracao = n1 - n2
multiplicacao = n1 * n2
divisao = n1 / n2

print(f"o resultado da soma é: {soma}")
print(f"o resultado da subtracao é: {subtracao}")
print(f"o resultado da multiplicacao é: {multiplicacao}")
print(f"o resultado da divisao é: {divisao}")

o resultado da soma é: 15
o resultado da subtracao é: 5
o resultado da multiplicacao é: 50
o resultado da divisao é: 2.0

3) Imprima o tipo de um determinado valor inteiro.

In [12]:
w1 = 1
print(type(w1))

<class 'int'>

4) Converta o valor passado anteriormente para o tipo float

In [17]:
float(1)

1.0

5) Faça a conversão do valor float recebido anteriormente para o tipo string

In [2]:
str(1)

'1'

6) Utilizando funções de arredonamento faça:
- Arredonde o valor 2.898
- Arredonde o valor 2.4545455 e exiba apenas 4 cadas decimais

In [33]:
round(2.898)

3

In [34]:
round(2.4545455,4)

2.4545

7) Utilizando variáveis faça:
- Defina uma variável com o seu nome e imprima o seu valor.
- Imprima o tipo dessa variável.
- Substitua o valor da sua variável nome com a concatenação do seu valor e o seu sobrenome, depois, imprima o novo valor.
    - obs: O resultado dessa variável será Nome Sobrenome, exemplo, Felipe Santana.
- Defina duas variaveis com os valores do seu email e idade com apenas uma linha de comando, depois, imprima seus valores.

In [11]:
nome = 'Richard'
print(nome)
print(type(nome))
nome = nome + ' Nixon'
print(nome)
Email, Idade = 'rxnionaf@gmail.com', 30
print(Email, Idade)

Richard
<class 'str'>
Richard Nixon
rxnionaf@gmail.com 30

8) Explique a causa do erro se executar a seguinte instrução para criar uma nova variável: break=10

In [106]:
#break = 10
#break é uma palavra reservada no python, não pode ser utilizada para atribuir a variaveis, funcoes e etc.

9) Sobre os objetos Strings, faça:
- Defina uma variavel com a string: "Python é uma maldição!" e imprima
- Imprima o primeiro caracter da variavel.
- Imprima os valores do primeiro caracter até o 6.
- Faça a contagem de todos os caracteres utilizando uma única linha de comando.
- Faça uma contagem de quantos vezes a palavra dados aparece na seguinte frase:
    - "dados é o novo petróleo, em Deus eu confio, para o resto me traga dados.."
- Substitua o primeiro caracter da frase acima para maiúsculo
- Quebre as palavras da frase separado por virgula, criando uma lista.

In [96]:
python = "Python é uma maldição!"
print(python)
print(python[0:6])
print(len(python))
texto = "dados é o novo petróleo, em Deus eu confio, para o resto me traga dados.."
texto.count('dados')

Python é uma maldição!
Python
22

2

In [105]:
texto.split(' ')

['dados',
 'é',
 'o',
 'novo',
 'petróleo,',
 'em',
 'Deus',
 'eu',
 'confio,',
 'para',
 'o',
 'resto',
 'me',
 'traga',
 'dados..']

In [103]:
texto.capitalize()

'Dados é o novo petróleo, em deus eu confio, para o resto me traga dados..'

10) Trabalhando com Listas, faça:
- Cria uma lista de valores inteiros com o nome idades.
- Imprima apenas segundo elemento da lista.
- Imprima a contagem de valores da lista.
- Substitua o valor do segundo elemento da lista e imprima o resultado.
- Imprima apenas os valores do segundo elemento em diante.
- Remova qualquer elemento da lista e imprima o resultado.
- Defina uma lista chamada salarios com os valores : 900,1200,1500,800,12587,10000.
- Verifique se contém o valor 10000 na lista de salarios.
- Imprima o menor e maior valor da lista.
- Adicione o valor 7000 a lista.
- Extenda a lista com dois novos elementos utilizando apenas um método.
- Imprima o índice do elemento de valor 800 da lista de salarios.
- Faça uma ordenação dos valores da lista de salarios em ordem crescente e decrescente.

In [74]:
idades_nomes = ['Richard', 15, 25, 30, 'Manu', 'Snow']
idades_nomes[1]
len(idades_nomes)
idades_nomes[1] = 22
print(idades_nomes)
print(idades_nomes[1:])
idades_nomes.remove('Snow')
print(idades_nomes)

['Richard', 22, 25, 30, 'Manu', 'Snow']
[22, 25, 30, 'Manu', 'Snow']
['Richard', 22, 25, 30, 'Manu']

In [75]:
salarios = [900,1200,1500,800,12587,10000]

In [86]:
10000 in salarios

True

In [91]:
salarios.sort()

In [92]:
salarios

[800, 900, 1200, 1500, 10000, 12587]

In [94]:
salarios[0]

800

In [93]:
salarios[-1]

12587

In [76]:
salarios.append(700)

In [77]:
salarios.extend([500, 550])
print(salarios)

[900, 1200, 1500, 800, 12587, 10000, 700, 500, 550]

In [78]:
salarios.index(800)

3

In [81]:
salarios = [900,1200,1500,800,12587,10000]

In [84]:
salarios.sort()
salarios

[800, 900, 1200, 1500, 10000, 12587]

In [85]:
salarios.reverse()
salarios

[12587, 10000, 1500, 1200, 900, 800]